<div class="grid grid-cols-12 gap-1 h-full w-full place-content-stretch  place-items-stretch">
  <div
    id="drawer-navigation"
    class="hidden lg:block lg:col-span-3 mx-2 bg-[#393E46] h-full rounded-sm shadow-md"
    aria-labelledby="drawer-navigation-label"
  >
    <div class="flex flex-col justify-around h-full">
      <h5
        id="drawer-navigation-label"
        class="text-center py-3 font-extrabold text-xl uppercase text-[#eae305]"
      >
        Operational
      </h5>
      <!-- <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
         <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
         <span class="sr-only">Close menu</span>
     </button> -->
      <div class="flex flex-row justify-center items-center">
        <a
          class="w-1/2 text-center text-white bg-gradient-to-r  font-bold  hover:from-yellow-300 hover:to-yellow-600 text-sm px-5 py-2.5"
          routerLink="./well"
          routerLinkActive="from-sky-400 to-blue-700"
        >
          Well
        </a>
        <a
          class="w-1/2 text-center text-white bg-gradient-to-r font-bold  hover:from-yellow-300 hover:to-yellow-600  text-sm px-5 py-2.5"
          routerLink="./field"
          routerLinkActive="from-sky-400 to-blue-700"
        >
          Field
        </a>
      </div>
      <form [formGroup]="wellForm" class="p-2" >
        <mat-form-field appearance="outline" class="w-full" >
          <mat-label>Field</mat-label>
          <mat-select formControlName="campos">
            <mat-option *ngFor="let campo of listaCampos" [value]="campo">{{campo.FIELD_NAME}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Well</mat-label>
          <mat-select formControlName="posos" *ngIf="!(route.url === '/dashboard/operational/field')">
            <mat-option *ngFor="let posos of listaPosos" [value]="posos">{{posos.WELL_NAME}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker" >
              <input matStartDate formControlName="fechaInicial" [min]="minDate" placeholder="Start date" readonly>
              <input matEndDate formControlName="fechaFinal" [max]="maxDate" placeholder="End date"  readonly>
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </form>
      
  
      <!-- options -->
      <div class="flex flex-col">
        <h3 class="font-bold pl-3 text-sm text-gray-200">Options</h3>
        <ul class="space-y-2 my-2">
        <li class="hover:bg-gray-200">
          <a
            href="#"
            class="flex items-center p-2 ml-4 text-base font-normal text-gray-500"
          >
            <svg
              aria-hidden="true"
              class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
          </a>
        </li>
        </ul>
      </div>
    </div>

    <!-- filters -->
    
    
  </div>
  <div class="shadow-md bg-[#393E46] rounded-sm col-span-12 justify-self-center lg:col-span-9 lg:mr-2 w-full">
    <router-outlet></router-outlet>
  </div>
</div>


