<div class="flex flex-row h-full">
    <div class="w-1/6 md:w-1/12">
        <div class="flex flex-col h-full justify-between">
            <app-information-card valor="320" titulo="Crudo(BOPD)"></app-information-card>
            <app-information-card valor="320" titulo="Crudo(BOPD)"></app-information-card>
            <app-information-card valor="320" titulo="Crudo(BOPD)"></app-information-card>
            <app-information-card valor="320" titulo="Crudo(BOPD)"></app-information-card>
            <app-information-card valor="320" titulo="Crudo(BOPD)"></app-information-card>
        </div>
    </div>
    <div class="w-4/6 md:w-9/12">
        <div class="flex flex-row flex-nowrap h-1/12 justify-around">
            <app-information-card valor="320" titulo="Crudo(BOPD)"></app-information-card>
            <app-information-card valor="320" titulo="Crudo(BOPD)"></app-information-card>
            <app-information-card valor="320" titulo="Crudo(BOPD)"></app-information-card>
            <app-information-card valor="320" titulo="Crudo(BOPD)"></app-information-card>
        </div>
        <!-- grafica -->

    </div>
    <div class="w-1/6 md:w-2/12">
        HOLA
    </div>
</div>
