<div class="grid grid-cols-12 gap-0 w-full  h-full place-content-stretch place-items-stretch">
    <div class="col-span-4 lg:col-span-1 md:col-span-2 overflow-hidden">
        <div class="grid grid-rows-6 gap-1 h-full place-content-stretch place-items-stretch">
            <app-information-card [valor]="formatDate(fechaAcual)" titulo="Current Date" class="w-full"></app-information-card>
            <app-information-card valor="N/A" titulo="BSW%" class="w-full"></app-information-card>
            <app-information-card [valor]="fluido" titulo="Fluid(BFPD)" class="w-full"></app-information-card>
            <app-information-card [valor]="agua" titulo="Water(BOPD)" class="w-full"></app-information-card>
            <app-information-card [valor]="gas" titulo="Gas(MMSFC)" class="w-full"></app-information-card>
            <app-information-card valor="N/A" titulo="%BSW" class="w-full"></app-information-card>
        </div>
    </div>
    <div class="col-span-4 lg:col-span-10 md:col-span-8 overflow-hidden pb-2">
        <div class="grid grid-rows-6 gap-1 h-full place-content-stretch place-items-stretch">
            <div class="row-span-1 grid grid-cols-4 gap-1 place-content-stretch place-items-stretch">
                <app-information-card [valor]="crudo" titulo="Crudo(BOPD)" class="w-full"></app-information-card>
                <app-information-card [valor]="campo" titulo="Field" class="w-full"></app-information-card>
                <app-information-card [valor]="pozo" titulo="Well" class="w-full"></app-information-card>
                <app-information-card [valor]="estadoPozo" titulo="State" class="w-full"></app-information-card>
            </div>
            <!-- <div class="row-span-3"> -->
                <div echarts (chartInit)="onGraficaUnoInit($event)" [options]="graficaUno" [merge]="updateOptionsGraficauno" [loading]="cargando" [theme]="coolTheme" [autoResize]="true"  class="demo-chart row-span-3" style="max-width: 99%;"></div>
            <!-- </div > -->
            <!-- <div class="row-span-2"> -->
                <div  echarts (chartInit)="onGraficaDosInit($event)" [options]="graficaDos" [merge]="updateOptionsGraficaDos" [loading]="cargando" [theme]="coolTheme" [autoResize]="true" class="demo-chart row-span-2" style="max-width: 99%;"></div>
            <!-- </div> -->
        </div>
        
        
        <!-- grafica -->
    </div>
    <div class="col-span-4 lg:col-span-1 md:col-span-2 overflow-hidden">
        <div class="grid grid-rows-6 gap-1 h-full place-content-stretch place-items-stretch">
            <app-information-card [valor]="8+''" titulo="Pump life (Days)" class="w-full"></app-information-card>
            <app-information-card valor="N/A" titulo="Fecuency" class="w-full"></app-information-card>
            <app-information-card [valor]="formatDate(fechaAcual)" titulo="Pump date" class="w-full"></app-information-card>
            <app-information-card valor="N/A" titulo="Pump ref" class="w-full"></app-information-card>
            <app-information-card valor="N/A" titulo="Deferred" class="w-full"></app-information-card>
            <app-information-card valor="N/A" titulo="Causal" class="w-full"></app-information-card>
        </div>
    </div>
</div>
