<div class="flex flex-row h-full">
    <div class="w-1/6 md:w-1/12 border-r-2 border-slate-100">
        <div class="flex flex-col h-full justify-between mr-2">
            <app-information-card [valor]="crudo" titulo="Crudo(BOPD)"></app-information-card>
            <app-information-card valor="N/A" titulo="BSW%"></app-information-card>
            <app-information-card [valor]="fluido" titulo="Fluid(BFPD)"></app-information-card>
            <app-information-card [valor]="agua" titulo="Water(BOPD)"></app-information-card>
            <app-information-card [valor]="gas" titulo="Gas(MMSFC)"></app-information-card>
            <app-information-card valor="N/A" titulo="%BSW"></app-information-card>
        </div>
    </div>
    <div class="w-4/6 md:w-9/12 border-r-2 border-slate-100">
        <div class="flex flex-row flex-nowrap h-1/12 justify-around">
            <app-information-card [valor]="formatDate(fechaAcual)" titulo="Current Date"></app-information-card>
            <app-information-card [valor]="campo" titulo="Field"></app-information-card>
            <app-information-card [valor]="pozoId" titulo="Well"></app-information-card>
            <app-information-card valor="ON" titulo="State"></app-information-card>
        </div>
        <!-- grafica -->
        <div class="border-t-2 border-slate-100">        
            <div *ngIf="!cargando" echarts [options]="graficaUno" class="flex w-100 h-10/12 mt-2"></div>
        </div>
    </div>
    <div class="w-1/6 md:w-2/12">
        <div class="flex flex-col h-full justify-between mr-2">
            <app-information-card [valor]="crudo" titulo="Crudo(BOPD)"></app-information-card>
            <app-information-card valor="N/A" titulo="BSW%"></app-information-card>
            <app-information-card [valor]="fluido" titulo="Fluid(BFPD)"></app-information-card>
            <app-information-card [valor]="agua" titulo="Water(BOPD)"></app-information-card>
            <app-information-card [valor]="gas" titulo="Gas(MMSFC)"></app-information-card>
            <app-information-card valor="N/A" titulo="%BSW"></app-information-card>
        </div>
    </div>
</div>
