<div
  class="grid grid-cols-12 grid-flow-row gap-0 w-full h-full place-content-stretch place-items-stretch bg-[#393E46] box-border border-2 border-[#36aee4] "
>
  <div
    class="col-span-3 grid grid-rows-6 gap-0 h-full place-content-stretch place-items-stretch border-r-2 border-[#36aee4]"
  >
    <div class="row-span-2 border-[#36aee4]">
      <div class="flex flex-col justify-between items-center">
        <span class="p-2 text-white font-bold uppercase">Filters</span>
        <form class="flex flex-col w-full p-2" [formGroup]="tacticalForm">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Well</mat-label>
            <mat-select formControlName="posos">
              <mat-option *ngFor="let posos of wellList" [value]="posos">{{
                posos.WELL_NAME
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Lim. Eco</mat-label>
            <mat-select formControlName="limEco">
              <mat-option *ngFor="let lim of [5,10,15,20,25,30]" [value]="lim">{{
                lim
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
    <!-- Hiperbolica -->
    <div class="row-span-2 ">
      <div class="flex flex-col justify-around items-center h-full">
        <span class=" text-white font-bold uppercase text-center border-t-2  border-b-2 border-[#36aee4] w-full">{{tipo ? tipo : 'N/A'}}</span>
        <app-information-card
            [valor]="lastDate ? lastDate : 'N/A'"
            titulo="Pre. Date"
            orientacion="hor"
          ></app-information-card>
        <div class="flex flex-row justify-around items-center w-full border-t-2 border-[#36aee4]">
          <app-information-card
            [valor]="lastB ? lastB : 'N/A'"
            titulo="B"
            class="w-1/2 border-r-2 border-b-2 border-[#36aee4] "
          ></app-information-card>
          <app-information-card
            [valor]="lastDi ? lastDi : 'N/A'"
            titulo="Di"
            class="w-1/2 border-b-2 border-[#36aee4] "
          ></app-information-card>
        </div>
      </div>
    </div>
    <div class="row-span-1 border-b-2 border-[#36aee4]">
      <div class="flex flex-row w-full">
        <app-information-card
          valor="0,99157"
          titulo="Q Match Point"
          class="w-full"
        ></app-information-card>
        <app-information-card
          valor="0,99577"
          titulo="T Match Point"
          class="w-full"
        ></app-information-card>
      </div>
    </div>
    <div class="row-span-1">
      <div class="flex flex-row w-full">
        <app-information-card
          valor="1.076"
          titulo="K"
          class="w-full"
        ></app-information-card>
        <app-information-card
          valor="1.076"
          titulo="S"
          class="w-full"
        ></app-information-card>
      </div>
    </div>
  </div>
  <div
    class="lg:col-span-6 col-span-9 grid grid-rows-1 gap-0 h-full place-content-stretch place-items-stretch border-r-2 border-[#36aee4]"
  >
    <div
      echarts
      (chartInit)="onGraficaQdpNpdD($event)"
      [options]="graficaQdpNpdD"
      [merge]="updateGraficaQdpNpdD"
      [loading]="cargando"
      [theme]="coolTheme"
      [autoResize]="true"
      class="demo-chart row-span-1"
      style="max-width: 99%"
    ></div>
  </div>
  <div
    class="grid lg:col-span-3 col-span-12 lg:grid-rows-2 grid-col-2 gap-0 h-full place-content-stretch place-items-stretch"
  >
    <div
      class="lg:row-span-1 col-span-1 grid grid-cols-1 h-full place-content-stretch place-items-stretch w-full"
    >
      <div
        echarts
        (chartInit)="onGraficaNpEur($event)"
        [options]="graficaNpEur"
        [merge]="updateGraficaNpEur"
        [loading]="cargando"
        [theme]="coolTheme"
        [autoResize]="true"
        class="demo-chart col-span-1"
        style="max-width: 99%"
      ></div>
    </div>
    <div
      class="lg:row-span-1 col-span-1 grid grid-cols-1 h-full place-content-stretch place-items-stretch w-full"
    >
      <div
        echarts
        (chartInit)="onGraficaQdpNpdD2($event)"
        [options]="graficaQdpNpdD2"
        [merge]="updateGraficaQdpNpdD2"
        [loading]="cargando"
        [theme]="coolTheme"
        [autoResize]="true"
        class="demo-chart col-span-1"
        style="max-width: 99%"
      ></div>
    </div>
  </div>
  <div class="absolute top-0 left-0 w-full" *ngIf="loading.getLoading()">
    <div
      role="status"
      class="backdrop-blur-sm bg-white/30 h-screen flex flex-col justify-center items-center w-full"
    >
      <svg
        class="relative mr-2 w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>
      <p>Loading data...</p>
    </div>
  </div>
</div>
<!-- <div class="col-span-4 ">
        <div class="grid grid-flow-row grid-rows-6 h-full place-content-stretch place-items-stretch">
            
            
        </div>
    </div>
    <div class="col-span-4 ">
        <div class="grid grid-flow-row grid-rows-6 h-full place-content-stretch place-items-stretch">
            <div class="row-span-1">
                
            </div>
            <div class="row-span-1">
                <div class="flex flex-row w-full">
                    <app-information-card valor="1.076" titulo="Q Predicted (BBL)" class="w-full"></app-information-card>
                    <app-information-card valor="36" titulo="Predicted months" class="w-full"></app-information-card>
                    
                </div>
            </div>
            <div echarts (chartInit)="onGraficaNpEur($event)" [options]="graficaNpEur" [merge]="updateGraficaNpEur" [loading]="cargando" [theme]="coolTheme" [autoResize]="true"  class="demo-chart row-span-2" style="max-width: 99%;"></div>
            <div echarts (chartInit)="onGraficaQdpNpdD($event)" [options]="graficaQdpNpdD" [merge]="updateGraficaQdpNpdD" [loading]="cargando" [theme]="coolTheme" [autoResize]="true"  class="demo-chart row-span-2" style="max-width: 99%;"></div>
           
        </div>
    </div> -->
