<div
  class="h-screen w-screen overflow-hidden flex items-center justify-center to-blue-300 from-blue-600 bg-[url('assets/img/formacolor.png')]"
>
  <div class="flex w-full flex-row flex-nowrap items-center justify-center">
    <!-- Contenido -->
    <div class="hidden sm:hidden md:block md:w-1/2 h-2/3 p-6">
      <div class="flex flex-col">
        <h1 class="mb-10 uppercase text-xl font-extrabold text-[#222831] md:text-3xl lg:text-4xl">remote <span class="text-transparent bg-clip-text bg-yellow-400">monitoring</span> of production <span class="text-transparent bg-clip-text bg-yellow-400">&</span>  reservoir <span class="text-transparent bg-clip-text bg-yellow-400">control.</span></h1>
        <ul class="my-5 text-xl lg:text-2xl font-extrabold uppercase text-[#222831]">
          <li class="my-1 list-none">
            <p >
              Dynamic decline curve analysis
            </p>
          </li>
          <li class="my-1 list-none">
            <p >
              Data analitycs & IA
            </p>
          </li>
          <li class="my-1 list-none">
            <p >
              Reinforcement learning
            </p>
          </li>
          <li class="my-1 list-none">
            <p >
              Oil gas and water real production
            </p>
          </li>
          <li class="my-1 list-none">
            <p >
              Reserves - drainage area - NP - water patrons
            </p>
          </li>
          <li class="my-1 list-none">
            <p >
              Back allocation & deferred production
            </p>
          </li>
        </ul>
        
      </div>
    </div>
      <app-formulario-login class="sm:w-3/3 md:w-1/2 w-11/12">

      </app-formulario-login>
      
    
  </div>
</div>